# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
*.env

# VS Code
.vscode/
.settings/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Compiled class files
*.class
*.o
*.so